*{
    margin: 0;
    padding: 0;
    font-family: "roboto",sans-serif;
}
.container{
    width: 980px; 
    margin: 0 auto;
}
header{
    width: 980px;
    height: 100px;
    background: #cb7082;
   
}
header img{
    padding-left: 30px;
}
nav .dangnhap{
 float: right;
 font-size: 20px;
 
 text-decoration: none;
 
 text-align: center;
 padding: 0 15px;

}
nav{
    height: 30px;
    background:#272f54;
    margin-bottom: 05px;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    float: left;
    line-height: 25px;
    padding: 0 15px;
    
}

nav .menu ul li a{
    color: #fff;
    font-size: 14px;
    text-decoration: none ;
}
nav .search{
    line-height: 25px;
    float: left;
    margin-left: 105px;
}
article h3{
    text-align: center;
    padding: 15px 0;
    color: #272f54;
    font-size: 20px;
   text-transform: uppercase;
   
}
article .newlist .news_item{
    width: 28%;
    padding: 14px;
    float: left;
    border: 2px solid #ccc;
    margin-right: 2%;

}
article .newlist .news_item h4{
    font-size: 16px;
    color: #ad3fad;
    

    
}
article .newlist .news_item img{
  margin: 10px auto;
}
article .newlist .news_item .content{
    font-size: 13px;   
}
footer{
    width: 960px;
    background: #272f54;

}
#fix{
    margin-right: 0;
}